/* root variables */
:root {
  --color-primary: #181818;
  --color-secondary: #8758FF;
  --color-tertiary: #F2F2F2;
  --color-quaternary: #F5F0BB;
}

body{
    background-color: var(--color-primary);
    font-family: 'Roboto', sans-serif;
    color: var(--color-tertiary);
}


/* *************************for pages************************* */
.page-initial{
    width: 100vw;
    min-height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 4rem;
}



@media screen and (max-width: 768px) {
    .howIam-container{
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        padding-top: 2rem;
        position: relative;
    }
    
    .howIam{
        position: absolute;
        width: 90%;
        height: 15%;
        top: 0;
        border-radius: 10px;
        padding: 1rem;
        background-color: var(--color-secondary);
    }
    
    .howIam-inside{
        position: absolute;
        width: 70%;
        top: 5%;
        left: 15%;
        border-radius: 10px;
        border: var(--color-tertiary) solid 2px;
        padding: 1rem;
        background-color: var(--color-primary);
    }

}

@media screen and (min-width: 768px){
    .howIam-container{
        padding: 3rem;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        padding-top: 8rem;
        position: relative;
    }
    
    .howIam{
        position: absolute;
        width: 90%;
        height: 15%;
        top: 0;
        border-radius: 10px;
        background-color: #8758FF;
    }
    
    .howIam-inside{
        position: absolute;
        width: 70%;
        top: 5%;
        left: 15%;
        border-radius: 10px;
        border: var(--color-tertiary) solid 2px;
        padding: 1rem;
        background-color: var(--color-primary);
        color: var(--color-tertiary);
    }
}


/* *************************for image user************************* */

@media screen and (max-width: 768px) {
    .img-box{
        width: 100%;
        height: 100%;
        min-width: 15rem;
        max-width: 15rem;
        min-height: 15rem;
        max-height: 15rem;
        background-color: var(--color-secondary);
        border-color: var(--color-primary);
        color: var(--color-tertiary);
    }
}

.img-box{
    background-color: var(--color-secondary);
    border-color: var(--color-primary);
}
    
.userImage{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
    color: var(--color-tertiary);
}

.shadow-style{
    box-shadow: 0 0 10px 0 var(--color-primary);
    transition: 0.5s;
}
.shadow-style:hover{
    box-shadow: 0 0 10px 0 var(--color-secondary);
    transition: 0.5s;
}

/*  *************************for icons************************* */
i{
    position: absolute;
    top: 80%;
    left: 50%;
    font-size: 50px;
}

.containerIcon{
    display: block;
}


/* *************************for figures***************************  */

@media screen and (max-width: 480px) {
    .rectangle1{
        width: 5%;
        height: 7%;
        border-radius: 50%;
        padding: 20px;
        margin-bottom: 20px;
        position: absolute;
        left: 83%;
        top:25%;
        display: block;
        background-color: var(--color-secondary);
    }

    .rectangle2{
        width: 5%;
        height: 7%;
        border-radius: 50%;
        padding: 20px;
        margin-bottom: 20px;
        position: absolute;
        left: 5%;
        top:25%;
        display: block;
        background-color: var(--color-secondary);
    }
}
@media screen and (min-width: 500px) {

    .rectangle1{
        width: 5%;
        height: 35%;
        border-radius: 33px;
        padding: 20px;
        margin-bottom: 20px;
        position: absolute;
        left: 90%;
        top:25%;
        display: block;
        border:var(--color-primary) 1px solid;
        background-color: var(--color-secondary);
    }

    .rectangle2{
        width: 5%;
        height: 35%;
        border-radius: 33px;
        padding: 20px;
        margin-bottom: 20px;
        position: absolute;
        left: 3%;
        top:25%;
        display: block;
        border: var(--color-primary) 1px solid;
        background-color: var(--color-secondary);
    }
        
    .rectangle-inside{
        width: 100%;
        height: 100%;
        border-radius: 33px;
        padding: 20px;
        margin-bottom: 20px;
        position: absolute;
        left: 66%;
        top:25%;
        display: block;;
        border:var(--color-secondary) 1px solid;
        background-color: var(--color-primary);
    }
}


/* *************others************ */
a{
    text-decoration: none;
    color: var(--color-tertiary);
    font-size: small;
}
a:hover{
    color: var(--color-quaternary);
    border-bottom: 1px solid var(--color-secondary);
    text-decoration: none;
}

h1, nav{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    border-bottom: 10px solid var(--color-secondary);
}