/* root variables */
:root {
  --color-primary: #181818;
  --color-secondary: #8758ff;
  --color-tertiary: #f2f2f2;
  --color-quaternary: #f5f0bb;
}

body {
  background-color: var(--color-secondary);
  font-family: "Roboto", sans-serif;
  color: var(--color-tertiary);
  margin: 0;
  padding: 0;
}


.Project-container {
  width: 100%;
  height: 100%;
  min-width: none;
  min-height: 15rem;
  margin: 0 auto;
  position: relative;
}

.Project-top {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 75%;
  height: 75%;
  border-radius: 13px;
  background-color: var(--color-secondary);
}
.Project {
  width: 80%;
  height: 100%;
  min-height: 10rem;
  margin: 0 auto;
  border: var(--color-tertiary) solid 2px;
  border-radius: 13px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: var(--color-primary);
}
.box-styles {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box-header {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.box-header-item {
  text-align: center;
}
.box-header-item-selected {
  text-align: center;
  border-bottom: var(--color-secondary) solid 2px;
  color: var(--color-quaternary);
}

.box-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--color-primary);
  border-radius: 13px;
}

.box-img {
  width: 100%;
  height: 100%;
  min-width: 10rem;
  min-height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-primary);
  border-radius: 13px;
}

.box-img-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 13px;
}



.shadow-style {
  box-shadow: 0 0 10px 0 var(--color-primary);
  transition: 0.5s;
}
.shadow-style:hover {
  box-shadow: 0 0 10px 0 var(--color-secondary);
  transition: 0.5s;
}

/*  *************************for icons************************* */
.page-initial i {
  position: relative;
  font-size: 2rem;
  color: var(--color-tertiary);
  transition: 0.5s;
}

.containerIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

i {
  color: var(--color-tertiary);
  font-size: 30px;
  margin: 0 10px;
}

/* *************others************ */
a {
  text-decoration: none;
  color: var(--color-tertiary);
  font-size: small;
}
nav a:hover {
  color: var(--color-quaternary);
  border-bottom: 1px solid var(--color-secondary);
  text-decoration: none;
}

.text-style {
  font-family: Arial, Helvetica, sans-serif, "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: var(--color-tertiary);
}

.vh-page{
  margin: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bg-style{
  background-color: transparent;
}

.bg-black{
  background-color: var(--color-primary);
}

.rounded-styles{
  border-radius: 13px;
}